body {
  width: 200px;
}

button {
  width: 100%;
}

.sign-in-separator {
  margin: 1em auto;
  position: relative;
  text-align: center;
}

.sign-in-separator:before {
  left: 0;
}

.sign-in-separator:after {
  right: 0;
}

.sign-in-separator:before,
.sign-in-separator:after {
  display: inline-block;
  width: 43%;
  border-top: 1px solid #bbb;
  content: ' ';
  position: absolute;
  top: 0.7em;
}

.login-input {
  box-sizing: border-box;
  background-color: white;
  border: 0;
  color: black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  margin: 0.375rem 0;
  line-height: 1;
  font-size: 0.7rem;
  width: 100%;
}
