@import url('slideout.css');

html {
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #333;
}

p {
  font-size: 85%;
  max-width: 50rem;
}

a,
a:visited,
a:hover,
a:active {
  color: white;
}

.app {
  margin-top: 80px;
}

.mobile .keyboard-shortcuts {
  display: none;
}

.ignored {
  text-decoration: line-through;
}

.track {
  /*height: 40px;*/
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tracks-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 75%;
}

.tracks-table > tbody::-webkit-scrollbar {
  display: none;
}

.tracks-table > tbody {
  -ms-overflow-style: none;
}

.tracks-table > tbody > tr.playing {
  background-color: #b40089;
  color: white;
}

.tracks-table > tbody > tr {
  background-color: #666;
  margin: 0 0 2px 0;
  color: white;
  line-height: 1.5rem;
  font-weight: 350;
  cursor: pointer;
}

.tracks-table > thead > tr {
  background-color: #444;
  color: white;
  line-height: 2rem;
  font-size: 100%;
}

.tracks-table > thead > th {
  color: white;
  border: 1px;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
}

@media (hover: hover) and (pointer: fine) {
  .tracks-table > tbody > tr:hover {
    background-color: #858585;
  }

  .tracks-table > tbody > tr.playing:hover {
    background-color: #d618a8;
  }
}

/*.tracks-table tbody tr:hover .table-cell-button:not(:disabled) {*/
/*  opacity: 1;*/
/*}*/

.search-column {
  flex: 0;
  max-width: 75px;
  min-width: 75px;
  text-align: center;
}

a.link {
  color: white;
}

a.link:visited {
  color: white;
  opacity: 0.8;
}

.unfollow-row {
  text-align: center;
}

.preview {
  width: 100%;
  z-index: 1;
  background-color: black;
}

.preview-title {
  padding: 10px 32px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
  font-weight: 400;
  background-color: #222;
}

.waveform_container {
  background-color: black;
}

.collection-details {
  align-items: center;
}

.collection-details > * {
  margin-left: 4px;
}

.collection-details-item {
  color: white;
  font-size: 70%;
  opacity: 0.7;
}

/* button and input resets */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
  color: inherit;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  /*padding: 5px;*/
  text-align: center;
  box-sizing: border-box;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-wrapper {
  display: -webkit-flex;
  display: flex;
  flex: 1;
  padding: 5px 0;
}

.button-wrapper {
  flex: 0;
  display: flex;
}

.button-playback {
  padding: 5px 10px;
  color: rgb(90, 90, 90);
  /*vertical-align: top;*/
  /*font-size: 100%;*/
}

.button-push_button-small {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1;
  font-size: 0.7rem;
}

.mobile .button-push_button-small {
  line-height: 2;
}

.button-push_button-large {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
}

.button-push_button-primary {
  background-color: #b40089;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.button-push_button-primary:active {
  box-shadow: 0 0 0 0.2rem rgba(180, 0, 137, 0.25);
}

.button-push_button-primary:hover {
  color: #fff;
  background-color: #9f0076;
}

.button-push_button-primary:disabled {
  color: #fff;
  background-color: #b5b5b5;
}

.button-push_button-menu {
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  background-color: #b40089;
}

.button-push_button-menu-active {
  background-color: #7a7a7a;
}

.button-push_button-glow {
  box-shadow: 0 0 10px 0 #990075;
}

.text-input {
  padding: 0.375rem 0.75rem;
  background-clip: padding-box;
  border-radius: 0.25rem;
  border: none;
  padding: 0.375rem 0.75rem;
  transition: box-shadow 0.25s ease-in-out, width 0.25s ease-in-out;
  box-sizing: border-box;
}

.text-input.text-input-dark {
  background: #222;
  color: #ffffffb3;
}

.text-input.text-input-light {
  color: #495057;
  background-color: #fff;
}

.text-input:active,
.text-input:focus,
.input[type='range']:active,
.input[type='range']:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: 0 0 8px 2px rgb(153, 0, 117);
  box-shadow: 0 0 2px 2px rgb(153, 0, 117);
}

input {
  color-scheme: dark;
}

.text-input-small {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1;
}

.text-input-large {
  line-height: 1.5;
}

audio {
  height: 31px;
}

.align-center-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-center-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.full-screen-popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 2;
}

.full-screen-popup {
  border-radius: 10px;
  padding: 20px;
  background-color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.27) 2px 2px 40px 0px;
  color: black;
  position: relative;
}

.full-screen-popup-title {
  margin-top: 0px;
  text-align: center;
}

.full-screen-popup-close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 30px;
}

.login-label,
.menu-item {
  display: block;
  width: 100%;
  margin: 6px 0;
}

.login-label-text {
  padding-bottom: 4px;
}

.login-label-text-small {
  display: block;
}

.login-label-text-large {
  width: 100px;
  display: inline-block;
}

.login-input {
  box-sizing: border-box;
  width: 100%;
}

.login-button {
  width: 100%;
  margin-top: 1rem;
  display: block;
  box-sizing: border-box;
  text-align: center;
}

.login-separator {
  margin: 1em auto;
  position: relative;
  text-align: center;
}

.login-separator:before {
  left: 0;
}

.login-separator:after {
  right: 0;
}

.login-separator:before,
.login-separator:after {
  display: inline-block;
  width: 43%;
  border-top: 1px solid #bbb;
  content: ' ';
  position: absolute;
  top: 0.7em;
}

.pill {
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  font-size: 75%;
  margin: 1px;
  padding: 5px;
}

.pill-button {
  background: currentColor;
  border: 1px solid;
}

.mobile .pill-button {
  line-height: 1.5;
}

.pill-button-contents {
  filter: invert(100%);
  vertical-align: middle;
}

.pill-link {
  border: 1px solid currentColor;
  background: transparent;
  display: inline;
  text-decoration: none;
  box-sizing: border-box;
}

.pill-link-text, .pill-button-text {
  margin: 4px;
}

.pill-link-text {
  text-decoration: underline;
}

.no-style-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.table-cell-button {
  flex: 1;
  vertical-align: middle;
  margin: 0;
}

.table-button-cell-header {
  text-align: center;
}

.table-cell-button {
  opacity: 0.75;
}

.table-cell-button:disabled {
  opacity: 0.25;
}

.table-cell-button:hover:not(:disabled) {
  opacity: 1;
}

.no-style-link {
  text-decoration: none;
}

.comma-list {
  padding-left: 0;
  display: inline;
  list-style: none;
}

.comma-list li {
  display: inline;
}

.comma-list li:after {
  content: ', ';
}

.comma-list li:last-child:after {
  content: '';
}

.expand-collapse-button {
  width: 100%;
  height: 2em;
}

.select-button--container {
  border-radius: 0.25rem;
  padding: 2px;
  background-color: #222;
  display: inline-block;
}

.select-button--button {
  line-height: 1;
  font-size: 0.7rem;
  display: inline-block;
  cursor: pointer;
  opacity: 0.7;
  text-align: center;
}

.mobile .select-button--button {
  line-height: 2;
}

.select-button--container input[type='radio'],
.select-icon--container input[type='radio'] {
  display: none;
}

input[type='radio']:checked + .select-button--button,
.select-button--button__active {
  background-color: #b40089;
  border-radius: 0.25rem;
  opacity: 1;
}

input[type='radio']:disabled + .select-button--button,
.select-button--button__active {
  opacity: 0.3;
  cursor: not-allowed;
}

.preview-icons-container {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px;
  margin: 2px;
  background: #0005;
  border-radius: 2px;
}

.preview-icons-container > * {
  margin-left: 4px;
}

.preview-icons-container > *:first-child {
  margin-left: 0;
}

.loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0005;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-icon--icon {
  cursor: pointer;
}

input[type='radio']:checked + .select-icon--icon {
  opacity: 1;
}

input[type='radio']:hover + .select-icon--icon {
  opacity: 1;
}

input[type='radio'] + .select-icon--icon {
  opacity: 0.5;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.popup-content {
  position: absolute;
  display: none;
  background: black;
  margin: 1px;
  padding: 0.5em;
  border-radius: 0.25em;
  z-index: 1;
  box-shadow: 0px 0px 5px black;
}

.popup-content__above {
  bottom: 100%;
}

.popup-anchor:hover + .popup-content {
  display: block;
}

.popup-content:hover {
  display: block;
}

.popup-divider {
  border: none;
  border-bottom: 1px solid gray;
}

.keyboard-shortcut {
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  background: rgb(222, 222, 222);
  background: -moz-linear-gradient(180deg, rgba(222, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(222, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(180deg, rgba(222, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
  display: inline-block;
  border-radius: 0.25em;
  border: 1px solid white;
  color: black;
}

.page-container {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #333;
  z-index: 10;
}

.settings-container {
  padding-left: 2.5em;
  margin: 0.5em;
}

.scroll-container {
  overflow-y: auto;
}

.page-container::-webkit-scrollbar {
  width: 0;
}

.follow-list {
  max-height: 185px;
  overflow-y: scroll;
  margin: 0.5em 0;
}

.follow-list::-webkit-scrollbar {
  width: 0;
}

.follow-list li {
  display: inline-block;
  margin: 1pt;
}

.ignore-popup {
  position: absolute;
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: white;
}

.input-layout {
  display: flex;
  box-sizing: border-box;
}

.input-layout > * {
  margin-left: 4px;
}

.input-layout > *:first-child {
  margin-left: 0;
}

.player-collection-wrapper {
  background-color: black;
}

.top-bar {
  align-items: center;
  color: white;
  padding: 2px;
  white-space: nowrap;
  display: flex;
  flex-wrap: wrap;
}

.search {
  border-radius: 0.25rem;
  width: 100%;
}

.search-bar {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.top-bar-group {
  padding: 2px;
}

.cart-select-wrapper {
  display: inline-block;
  flex: 0 1 0%;
  border-radius: 0.25rem;
  background-color: #222;
}

.cart-select-wrapper > label {
  padding: 0.375rem 0.75rem;
  font-size: 0.7rem;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  opacity: 0.7;
}

.cart-bar {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  display: inline-flex;
  align-items: center;
}

.search-input-icon {
  position: absolute;
  right: 0;
  opacity: 0.5;
  margin-right: 8px;
}

.clear-search {
  cursor: pointer;
}

.refresh-tracks {
  margin-left: auto;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 10rem;
  height: 1rem;
  margin: 5px;
  background: #222;
  border-radius: 0.25rem;
  background-image: linear-gradient(rgb(180, 0, 137), rgb(180, 0, 137));
  background-repeat: no-repeat;
  transition: box-shadow 0.25s ease-in-out, width 0.25s ease-in-out;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem;
  background: white;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
  box-shadow: 0 0 2px 0 #555;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

@media (max-width: 899px) {
  .full-screen-popup {
    margin: 2em;
  }

  .input-layout {
    width: 100%;
  }

  .search-bar {
    margin: 0;
    order: 3;
  }

  .search-bar-hidden {
    display: none;
  }

  .top-bar-group {
    margin: 0;
    min-width: calc(100% - 4px);
  }

  .cart-bar-separator {
    display: block;
  }

  .cart-bar {
    order: 3;
  }

  .cart-select-wrapper {
    min-width: 100%;
  }

  .reveal-search-button {
    order: 2;
  }

  .refresh-tracks {
    order: 3;
  }

  .preview {
    height: 144px;
  }

  .player-collection-wrapper {
    display: block;
  }

  .collection-details {
    display: flex;
    float: right;
  }

  .preview-wrapper {
    float: left;
    width: 100%;
  }

  .button-wrapper {
    float: left;
  }

  .waveform_container {
    height: 60px;
  }

  /*Replace the calc below. Currently it is calculated as height of preview + height of status bar + height of table header + height of the button row at the end of the table*/
  .tracks-table > tbody {
    height: calc(100vh - 180px);
  }

  .empty-cell {
    display: none;
  }

  .link-icon {
    font-size: 120%;
    margin: 2px;
  }

  .preview-icons-container {
    font-size: 100%;
  }

  .table-cell-button-row > .table-cell-button:not(:first-child),
  .table-cell-button-row__last {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 1px solid #808080;
  }

  .table-cell-button-row > .table-cell-button:not(:last-child),
  .table-cell-button-row__first {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .table-cell-button-row > .table-cell-button {
    margin: 0;
  }

  .table-cell-button {
    width: 100%;
    display: block;
  }

  .text-input-large {
    font-size: 20px;
  }

  .text-input-small {
    font-size: 16px;
  }

  .state-select-button--container {
    display: flex;
  }

  .select-button--button {
    flex: 1;
    padding: 0.375rem;
  }

  .pill-button {
    min-height: 2rem;
  }
}

@media (min-width: 900px) {
  .full-screen-popup {
    max-width: 50%;
  }

  .preview {
    height: 88px;
  }

  .top-bar {
    display: flex;
  }

  .reveal-search-button {
    display: none;
  }

  .search {
    padding-right: 2rem;
    float: right;
  }

  .search-bar {
    max-width: 20rem;
    order: 2;
  }

  .cart-bar {
    order: 2;
  }

  .refresh-tracks {
    order: 3;
  }

  .preview-wrapper {
    order: 2;
  }

  .button-wrapper {
    order: 1;
  }

  .player-collection-wrapper {
    display: flex;
  }

  .collection-details {
    order: 3;
    display: flex;
  }

  .preview-icons-container {
    font-size: 75%;
  }

  /*Replace the calc below. Currently it is calculated as height of preview + height of status bar + height of table header + height of the button row at the end of the table*/
  .tracks-table > tbody {
    height: calc(100vh - 38px);
  }

  .table-cell-button-row > .table-cell-button:not(:first-child),
  .table-cell-button-row__last {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #808080;
  }

  .table-cell-button-row > .table-cell-button:not(:last-child),
  .table-cell-button-row__first {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .table-cell-button-row > .table-cell-button {
    margin: 0;
  }

  .text-input-large {
    font-size: 1rem;
  }

  .text-input-small {
    font-size: 0.7rem;
  }

  .state-select-button--container {
    display: inline-block;
  }

  .select-button--button {
    padding: 0.375rem 0.75rem;
  }

  .pill-link-text, .pill-button-text {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0 2px;
    padding: 0;
    display: inline-block;
  }
}
