@import url('slideout.css');

html {
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #333;
}

p {
  font-size: 85%;
}

.app {
  margin-top: 80px;
}

.track {
  /*height: 40px;*/
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tracks-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 75%;
}

.tracks-table tbody::-webkit-scrollbar {
  display: none;
}

.tracks-table tbody {
  -ms-overflow-style: none;
}

.tracks-table tbody tr.playing {
  background-color: #b40089;
  color: white;
}

.tracks-table tbody tr {
  background-color: #666;
  margin: 0 0 2px 0;
  color: white;
  line-height: 1.5rem;
  font-weight: 350;
  cursor: pointer;
}

.tracks-table thead tr {
  background-color: #444;
  color: white;
  line-height: 2rem;
  font-size: 100%;
}

.tracks-table thead th {
  color: white;
  border: 1px;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
}

@media (hover: hover) and (pointer: fine) {
  .tracks-table tbody tr:hover {
    background-color: #858585;
  }

  .tracks-table tbody tr.playing:hover {
    background-color: #d618a8;
  }
}

/*.tracks-table tbody tr:hover .table-cell-button:not(:disabled) {*/
/*  opacity: 1;*/
/*}*/

.search-column {
  flex: 0;
  max-width: 75px;
  min-width: 75px;
  text-align: center;
}

a.link {
  color: white;
  text-decoration: none;
}

a.link:visited {
  color: white;
  opacity: 0.8;
}

.unfollow-row {
  text-align: center;
}

.preview {
  width: 100%;
  z-index: 1;
  background-color: black;
}

.preview-title {
  padding: 10px 32px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
  font-weight: 400;
  background-color: #222;
}

.waveform_container {
  background-color: black;
}

.collection-details {
  align-items: center;
}

.collection-details > * {
  margin-left: 4px;
}

.collection-details-item {
  color: white;
  font-size: 70%;
  opacity: 0.7;
}

/* button and input resets */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
  color: inherit;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  /*padding: 5px;*/
  text-align: center;
  box-sizing: border-box;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-wrapper {
  display: -webkit-flex;
  display: flex;
  flex: 1;
  padding: 5px 0;
}

.button-wrapper {
  flex: 0;
  display: flex;
}

.button-playback {
  padding: 5px 10px;
  color: rgb(90, 90, 90);
  /*vertical-align: top;*/
  /*font-size: 100%;*/
}

.button-push_button-small {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1;
  font-size: 0.7rem;
}

.button-push_button-large {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
}

.button-push_button-primary {
  background-color: #b40089;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.button-push_button-primary:active {
  box-shadow: 0 0 0 0.2rem rgba(180, 0, 137, 0.25);
}

.button-push_button-primary:hover {
  color: #fff;
  background-color: #9f0076;
}

.button-push_button-primary:disabled {
  color: #fff;
  background-color: #b5b5b5;
}

.button-push_button-glow {
  box-shadow: 0 0 10px 0 #990075;
}

.text-input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #b40089;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(180, 0, 137, 0.25);
}

.text-input-small {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1;
  font-size: 0.7rem;
}

.table-cell-button {
  flex: 1;
  padding: 0;
  vertical-align: middle;
}

.table-button-cell-header {
  text-align: center;
}

.table-cell-button {
  opacity: 0.5;
}

.table-cell-button:disabled {
  opacity: 0.25;
}

.table-cell-button:hover:not(:disabled) {
  opacity: 1;
}

audio {
  height: 31px;
}

.align-center-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-center-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.full-screen-popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 2;
}

.full-screen-popup {
  border-radius: 10px;
  padding: 20px;
  background-color: #ccc;
  boxShadow: rgba(0, 0, 0, 0.27) 2px 2px 40px 0px;
  color: black;
  position: relative;
}

.full-screen-popup-title {
  margin-top: 0px;
  text-align: center;
}

.full-screen-popup-close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 30px;
}

.login-label,
.menu-item {
  display: block;
  width: 100%;
  margin: 6px 0;
}

.login-label-text {
  padding-bottom: 4px;
}

.login-label-text-small {
  display: block;
}

.login-label-text-large {
  width: 100px;
  display: inline-block;
}

.login-input {
  box-sizing: border-box;
  width: 100%;
}

.login-button {
  width: 100%;
  margin-top: 1rem;
  display: block;
  box-sizing: border-box;
  text-align: center;
}

.login-separator {
  margin: 1em auto;
  position: relative;
  text-align: center;
}

.login-separator:before {
  left: 0;
}

.login-separator:after {
  right: 0;
}

.login-separator:before,
.login-separator:after {
  display: inline-block;
  width: 43%;
  border-top: 1px solid #bbb;
  content: ' ';
  position: absolute;
  top: 0.7em;
}

.pill {
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  font-size: 75%;
  margin: 1px;
  padding: 5px;
}

.pill-button {
  background: currentColor;
}

.pill-button-contents {
  filter: invert(100%);
}

.no-style-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.no-style-link {
  text-decoration: none;
}

.comma-list {
  padding-left: 0;
  display: inline;
  list-style: none;
}

.comma-list li {
  display: inline;
}

.comma-list li:after {
  content: ', ';
}

.comma-list li:last-child:after {
  content: '';
}

.expand-collapse-button {
  width: 100%;
  height: 2em;
}

.state-select-button--container {
  border-radius: 0.25rem;
  padding: 2px;
  background-color: #222;
  display: inline-block;
}

.state-select-button--button {
  padding: 0.375rem 0.75rem;
  line-height: 1;
  font-size: 0.7rem;
  display: inline-block;
  cursor: pointer;
  opacity: 0.7;
}

.state-select-button--container input[type='radio'] {
  display: none;
}

input[type='radio']:checked + .state-select-button--button {
  background-color: #b40089;
  border-radius: 0.25rem;
  opacity: 1;
}

.state-select-button--container *:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

.state-select-button--container *:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.popup-anchor {
  z-index: 2;
  position: absolute;
}

.popup-content {
  position: absolute;
  display: none;
  background: black;
  padding: 0.5em;
  border-radius: 0.25em;
  z-index: 1;
  box-shadow: 0px 0px 5px black;
}

.popup-anchor:hover + .popup-content {
  display: block;
}

.keyboard-shortcut {
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  background: rgb(222, 222, 222);
  background: -moz-linear-gradient(180deg, rgba(222, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(222, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(180deg, rgba(222, 222, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
  display: inline-block;
  border-radius: 0.25em;
  border: 1px solid white;
  color: black;
}

.page-container {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #333;
}

.settings-container {
  padding-left: 3em;
}

.scroll-container {
  overflow-y: auto;
}

.page-container::-webkit-scrollbar {
  width: 0;
}

.follow-list {
  max-height: 150px;
  overflow-y: scroll;
  margin: 0.5em 0;
}

.follow-list::-webkit-scrollbar {
  width: 0;
}

.follow-list li {
  display: inline-block;
  margin: 1pt;
}

.ignore-popup {
  position: absolute;
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: white;
}

.input-layout {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.input-layout > * {
  margin-left: 4px;
}

.input-layout > *:first-child {
  margin-left: 0;
}

.player-collection-wrapper {
  background-color: black;
}

.top-bar {
  align-items: center;
  color: white;
  padding: 2px;
}

.search-bar {
  box-sizing: border-box;
}

.search {
  background: #222;
  border: none;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1;
  color: #ffffffb3;
  transition: box-shadow 0.25s ease-in-out, width 0.25s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}

.search-bar {
  position: relative;
  flex: 1;
  padding: 2px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.search-input-icon {
  position: absolute;
  right: 0;
  opacity: 0.5;
  margin-right: 8px;
}

.clear-search {
  cursor: pointer;
}

.search:focus,
.search.active {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: 0 0 2px 2px #990075;
  /*padding-right: 20px;*/
  /*width: 10rem;*/
}

@media (max-width: 799px) {
  .full-screen-popup {
    margin: 2em;
  }

  .input-layout {
    width: 100%;
  }

  .search {
    font-size: 16px;
  }

  .search-icon {
    display: none;
  }

  .search-bar-hidden {
    display: none;
  }

  .preview {
    height: 144px;
  }

  .player-collection-wrapper {
    display: block;
  }

  .collection-details {
    display: flex;
    float: right;
  }

  .preview-wrapper {
    float: left;
    width: 100%;
  }

  .button-wrapper {
    float: left;
  }

  .waveform_container {
    height: 60px;
  }

  /*Replace the calc below. Currently it is calculated as height of preview + height of status bar + height of table header + height of the button row at the end of the table*/
  .tracks-table tbody {
    height: calc(100vh - 180px);
  }

  .empty-cell {
    display: none;
  }

  .link-icon {
    font-size: 120%;
    margin: 2px;
  }
}

@media (min-width: 800px) {
  .full-screen-popup {
    max-width: 50%;
  }

  .preview {
    height: 88px;
  }

  .top-bar {
    display: flex;
  }

  .reveal-search-button {
    display: none;
  }

  .search {
    font-size: 0.7rem;
    max-width: 20rem;
    padding-right: 2rem;
    float: right;
  }

  .preview-wrapper {
    order: 2;
  }

  .button-wrapper {
    order: 1;
  }

  .player-collection-wrapper {
    display: flex;
  }

  .collection-details {
    order: 3;
    display: flex;
  }

  /*Replace the calc below. Currently it is calculated as height of preview + height of status bar + height of table header + height of the button row at the end of the table*/
  .tracks-table tbody {
    height: calc(100vh - 38px);
  }
}
