.menu-container {
  background-color: #ccc;
  color: black;
}

.menu-stores {
  padding: 0 30px;
}

.store-list {
  list-style: none;
  padding-left: 0;
}

.store-list-item {
  margin: 3em 0 3em 0;
}
