.waveform_container {
  position: relative;
}

.waveform {
  height: 100%;
  position: absolute;
}

.waveform-background {
  width: 100%;
  opacity: 0.4;
}

.waveform_clip-edge-overlay {
  height: 100%;
  background: black;
  opacity: 0.3;
  position: absolute;
}

.waveform-position {
  background: linear-gradient(to right, #b40089 0%, #ff008b 100%);
  width: 100%;
}

@media (min-width: 900px) {
  .waveform-position {
    mask-size: 100% 40px;
    -webkit-mask-size: 100% 40px;
  }

  .waveform_container {
    height: 40px;
  }
}

@media (max-width: 899px) {
  .waveform-position {
    mask-size: 100% 60px;
    -webkit-mask-size: 100% 60px;
  }

  .waveform_container {
    height: 60px;
  }
}

.mobile .volume-slider {
  display: none;
}
