.select-button--container {
  border-radius: 0.25rem;
  padding: 2px;
  background-color: #222;
  display: inline-block;
}

.select_button-button {
  display: inline-block;
  cursor: pointer;
  opacity: 0.7;
  text-align: center;
}

.select_button-button__small {
  font-size: 0.7rem;
}

.select_button-button__large {
  font-size: 100%;
}

.select-button--container input[type='radio'],
.select-icon--container input[type='radio'] {
  display: none;
}

input[type='radio']:checked + .select_button-button,
.select_button-button__active {
  background-color: #b40089;
  border-radius: 0.25rem;
  opacity: 1;
}

input[type='radio']:disabled + .select_button-button,
.select_button-button__active {
  opacity: 0.3;
  cursor: not-allowed;
}

.select-icon--icon {
  cursor: pointer;
  font-size: 150%;
  padding: 4px 4px;
}

input[type='radio']:checked + .select-icon--icon {
  opacity: 1;
}

input[type='radio']:hover + .select-icon--icon {
  opacity: 1;
}

input[type='radio'] + .select-icon--icon {
  opacity: 0.5;
}

.select-button--container {
  border-radius: 0.25rem;
  padding: 2px;
  background-color: #222;
  display: inline-block;
}

.select_button-button {
  font-size: 0.7rem;
  display: inline-block;
  cursor: pointer;
  opacity: 0.7;
  text-align: center;
}

.mobile .select_button-button {
}

.select-button--container input[type='radio'],
.select-icon--container input[type='radio'] {
  display: none;
}

input[type='radio']:checked + .select_button-button,
.select_button-button__active {
  background-color: #b40089;
  border-radius: 0.25rem;
  opacity: 1;
}

input[type='radio']:disabled + .select_button-button,
.select_button-button__active {
  opacity: 0.3;
  cursor: not-allowed;
}

.select_button-button {
  padding: 1rem;
}