.tracks-cell {
  display: inline-block;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

.text-header-cell {
  text-align: left;
}

.track-table-cell {
  padding: 4px;
  box-sizing: border-box;
}

.track-new-indicator {
  width: 100%;
  border-radius: 2px;
  background-color: white;
  height: 100%;
  -webkit-box-shadow: inset 0 1px 1px rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255);
  box-shadow: 0 0 8px 0 white;
}

.following {
  font-weight: 600;
}

.carts-list {
  max-height: 150px;
  overflow-y: scroll;
}

.carts-list::-webkit-scrollbar {
  display: none;
}

.score-table {
  width: 100%;
}

.score-table {

}

@media (min-width: 900px) {
  .tracks-table-header {
    display: block;
  }

  .new-cell {
    float: left;
    width: 3rem;
    text-align: center;
  }

  .track-play-button {
    height: 100%;
  }

  .new-cell-content {
    display: block;
    width: 100%;
    text-align: center;
  }

  .track-new-indicator {
    display: none;
  }

  .track-table-cell {
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .track-details {
    width: calc(74% - 3rem);
  }

  .track-details-left {
    width: 61%;
  }

  .track-details-center {
    width: 27%;
  }

  .track-details-right {
    width: 12%;
  }

  .track-details-content {
    display: block;
    float: left;
  }

  .artist-cell {
    width: 32%;
  }

  .title-cell {
    width: 40%;
  }

  .label-cell {
    width: 28%;
  }

  .dates-cell {
    width: 30%;
  }

  .released-cell,
  .published-cell,
  .added-cell {
    width: 33%;
  }

  .key-cell {
    width: 100%;
    display: inline;
    text-align: center;
  }

  .score-cell,
  .follow-cell,
  .cart-cell,
  .ignore-cell {
    width: 25%;
    text-align: center;
  }

  .follow-ignore-cart-cell {
    width: 14%;
  }

  .ignore-button-icon {
    display: none;
  }

  .cart-button-label {
    display: none;
  }

  .open-search-cell {
    width: 12%;
  }

  .open-cell {
    width: 40%;
    text-align: center;
    overflow: visible;
  }

  .search-cell {
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 899px) {
  .tracks-table-header {
    display: none;
  }

  .new-cell {
    width: 4px;
    margin: 6px;
  }

  .track-play-button {
    display: none;
  }

  .track-table-cell {
    display: block;
    overflow: hidden;
  }

  .table-cell-button {
    width: 100%;
  }

  .track-details {
    width: 56%;
    display: flex;
    flex-direction: column;
  }

  .track-details-left {
    display: flex;
    flex-direction: column;
  }

  .track-details-right {
    display: flex;
    flex-direction: column;
  }

  .track-details-content {
    line-height: 1.5em;
  }

  .artist-cell {
    font-size: 130%;
    font-weight: 300;
  }

  .title-cell {
    font-size: 130%;
  }

  .label-cell {
    font-size: 130%;
  }

  .released-cell:before {
    content: 'Released: ';
  }

  .added-cell:before {
    content: 'Added: ';
  }

  .published-cell:before {
    content: 'Published: ';
  }

  .dates-cell > *:after {
    content: ', ';
  }

  .dates-cell > *:last-child:after {
    content: '';
  }

  .released-cell,
  .published-cell,
  .added-cell {
    font-size: 80%;
    opacity: 0.8;
    display: block;
    padding: 0 4px;
  }

  .key-cell::before {
    content: 'Key: ';
    white-space: pre;
  }

  .follow-button-label::before {
    content: 'Follow...';
  }

  .ignore-button-label::before {
    content: 'Ignore...';
  }

  .ignore-cart-cell {
    width: 18%;
  }

  .cart-cell-content {
    width: 100%;
    text-align: center;
  }

  .follow-button-label,
  .ignore-button-label,
  .cart-button-label {
    display: inline-block;
    width: 100%;
  }

  .open-search-cell {
    width: 26%;
  }

  .open-cell,
  .search-cell {
    width: 100%;
    white-space: pre;
    text-align: center;
  }

  .open-cell::before {
    content: 'Open:\A';
  }

  .search-cell::before {
    content: 'Search:\A';
  }
}
