@import url("slideout.css");

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #333;
}

.app {
    margin-top: 80px;
}

.track {
    /*height: 40px;*/
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tracks-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 75%;
}

.tracks-table tbody::-webkit-scrollbar {
display: none;
}

.tracks-table tbody {
  -ms-overflow-style: none;
}

.tracks-table tbody tr {
    background-color: #666;
    margin: 0 0 2px 0;
    color: white;
    line-height: 1.5rem;
}

.tracks-table tbody tr.playing {
    background-color: #b40089;
    color: white;
}

.tracks-table thead tr {
    background-color: #444;
    margin: 2px 0;
    color: white;
    line-height: 2rem;
    font-size: 100%;
}

.tracks-table thead th {
    color: white;
    border: 1px;
    text-align: left;
    font-weight: normal;
    text-transform: uppercase;
}

.tracks-table tbody tr {
    font-weight: 350;
}

.tracks-table tbody tr:hover {
    font-weight: 700;
}

.tracks-table tbody tr:hover .table-cell-button {
    opacity: 1;
}

.tracks-table th, .tracks-table td {
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.link {
    color: white;
    text-decoration: none;
}

a.link:visited {
    color: white;
    opacity: 0.8;
}

.unfollow-row {
    text-align: center;
}

.preview {
    width: 100%;
    height: 80px;
    z-index: 1;
    background-color: #222;
}

.preview-title {
    padding: 10px 32px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    font-weight: 400;
}

/* button and input resets */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none;
    color: inherit;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.button {
    /*padding: 5px;*/
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-wrapper {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 5px 0;
    background-color: black;
}

.button-playback {
    padding: 5px 10px;
    color: rgb(90, 90, 90);
    /*vertical-align: top;*/
    /*font-size: 100%;*/
}

.button-push_button-small {
    border-radius: .25rem;
    padding: .375rem .75rem;
    line-height: 1;
    font-size: 0.7rem;
}

.button-push_button-large {
    border-radius: .25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-size: 1rem;
}

.button-push_button-primary {
    background-color: #b40089;
    color: white;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button-push_button-primary:active {
    box-shadow: 0 0 0 0.2rem rgba(180, 0, 137, .25);
}

.button-push_button-primary:hover {
    color: #fff;
    background-color: #9f0076;
}

.button-push_button-primary:disabled {
    color: #fff;
    background-color: #b5b5b5;
}

.text-input {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.text-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #b40089;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(180, 0, 137, .25);
}

.fluid {
    flex: 1;
}

.table-cell-button {
    display: inline-block;
    flex: 1;
    padding: 0;
    vertical-align: middle;
}

.table-cell-button:only-child {
    width: 100%;
    height: 100%;
}

.table-cell-button:not(:only-child) {
    flex: 1;
}

.tracks-table th.table-button-cell-header {
    text-align: center;
}

.table-cell-button {
    opacity: 0.5;
}

.table-cell-button:disabled {
    opacity: 0.25;
}

.table-cell-button:hover:not(:disabled) {
    opacity: 1;
}

audio {
    height: 31px;
}

.align-center-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.align-center-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.login-label, .menu-item {
    display: block;
    width: 100%;
    margin: 6px 0;
}

.login-label-text {
    padding-bottom: 4px;
}

.login-label-text-small {
    display: block;
}

.login-label-text-large {
    width: 100px;
    display: inline-block;
}

.login-input {
    box-sizing: border-box;
    width: 100%;
}

.login-button {
    width: 100%;
    margin-top: 1rem;
}

.menu-container {
    background-color: #ccc;
}

.menu-stores {
    padding: 30px;
}

.pill {
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    font-size: 75%;
    margin: 1px;
    padding: 0 5px;
}

.pill-button {
    background: currentColor;
}

.pill-button-contents {
    filter: invert(100%);
}

.no-style-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.expand-collapse-button {
    width: 100%;
    height: 2em;
}

.state-select-button--container {
    border-radius: .25rem;
    padding: 2px;
    background-color: #222;
    display: inline-block;
}

.state-select-button--button {
    padding: .375rem .75rem;
    line-height: 1;
    font-size: 0.7rem;
    display: inline-block;
    cursor: pointer;
    opacity: 0.7;
}

.state-select-button--container input[type='radio'] {
    display: none;
}

input[type='radio']:checked + .state-select-button--button {
    background-color: #b40089;
    border-radius: .25rem;
    opacity: 1;
}

.state-select-button--container *:last-child {
    border-radius: 0 .25rem .25rem 0;
}

.state-select-button--container *:first-child {
    border-radius: .25rem 0 0 .25rem;
}
